In [1]:
import pandas as pd
import numpy as np

En primer lugar realizamos una lectura y exploración inicial del dataset

In [2]:
df = pd.read_csv("C:/Users/hfdez/Python/Proyecto I/activaciones_samur_2024.csv", sep=";")
df

,Año,Mes,Hora Solicitud,Hora Intervención,Código,Distrito,Hospital
0,2024,ENERO,0:03:49,0:06:39,Heridas,CHAMBERI,La Paz
1,2023,ENERO,0:05:55,0:20:38,Atención psicológica a Familiares y allegados,CIUDAD LINEAL,NaN
2,2023,ENERO,0:05:55,0:20:38,Inconsciente sin filiar causa,CIUDAD LINEAL,NaN
3,2024,ENERO,0:16:34,0:21:20,Patología respiratoria,CHAMBERI,Clínico San Carlos
4,2024,ENERO,0:17:12,NaN,Agresión sin especificar,CENTRO,NaN
...,...,...,...,...,...,...,...
35408,2024,MARZO,23:51:17,NaN,Otros,CHAMARTIN,NaN
35409,2024,MARZO,23:57:12,0:06:59,Intoxicación etílica,NaN,La Princesa
35410,2024,MARZO,23:58:27,0:03:56,Certificación psiquiátrico,CIUDAD LINEAL,Gregorio Marañón
35411,2024,MARZO,NaN,NaN,Heridas,CENTRO,NaN
35412,2024,MARZO,NaN,NaN,Patología cardiovascular,VILLA DE VALLECAS,NaN

In [3]:
# Lista de hospitales específicos que me interesa seleccionar
hospitales_seleccionados = ["La Paz", "Gregorio Marañón", "Doce de Octubre", "Ramón y Cajal"]
# Filtramos el dataset unicamente para nuestros 4 hospitales
df_filtrado = df[df['Hospital'].isin(hospitales_seleccionados)]

# Mostrar el DataFrame filtrado
df_filtrado

,Año,Mes,Hora Solicitud,Hora Intervención,Código,Distrito,Hospital
0,2024,ENERO,0:03:49,0:06:39,Heridas,CHAMBERI,La Paz
15,2024,ENERO,0:49:33,0:56:20,Quemado,VALLECAS PTE.,Gregorio Marañón
24,2024,ENERO,1:22:56,1:36:19,Orden medica,CIUDAD LINEAL,Ramón y Cajal
25,2024,ENERO,1:23:18,1:23:18,"Casual: caída, etc",TETUAN,La Paz
28,2024,ENERO,1:32:56,1:38:10,"Casual: caída, etc",SALAMANCA,Gregorio Marañón
...,...,...,...,...,...,...,...
35394,2024,MARZO,22:14:11,22:19:44,Heridas,RETIRO,Gregorio Marañón
35399,2024,MARZO,22:41:12,22:48:14,Accidente de bicicleta,VALLECAS PTE.,Gregorio Marañón
35400,2024,MARZO,22:45:34,22:51:36,Convulsión y/o epilepsia,CENTRO,Gregorio Marañón
35402,2024,MARZO,22:54:50,23:01:35,Otros,ARGANZUELA,Gregorio Marañón
35410,2024,MARZO,23:58:27,0:03:56,Certificación psiquiátrico,CIUDAD LINEAL,Gregorio Marañón

In [5]:
# Mostramos las primeras filas del dataset
print("Primeras filas del dataset:")
df_filtrado.head()

Primeras filas del dataset:

Últimas filas del dataset:

,Año,Mes,Hora Solicitud,Hora Intervención,Código,Distrito,Hospital
35394,2024,MARZO,22:14:11,22:19:44,Heridas,RETIRO,Gregorio Marañón
35399,2024,MARZO,22:41:12,22:48:14,Accidente de bicicleta,VALLECAS PTE.,Gregorio Marañón
35400,2024,MARZO,22:45:34,22:51:36,Convulsión y/o epilepsia,CENTRO,Gregorio Marañón
35402,2024,MARZO,22:54:50,23:01:35,Otros,ARGANZUELA,Gregorio Marañón
35410,2024,MARZO,23:58:27,0:03:56,Certificación psiquiátrico,CIUDAD LINEAL,Gregorio Marañón

In [6]:
# Mostramos las últimas filas del dataset
print("\nÚltimas filas del dataset:")
df_filtrado.tail()

Últimas filas del dataset:

,Año,Mes,Hora Solicitud,Hora Intervención,Código,Distrito,Hospital
35394,2024,MARZO,22:14:11,22:19:44,Heridas,RETIRO,Gregorio Marañón
35399,2024,MARZO,22:41:12,22:48:14,Accidente de bicicleta,VALLECAS PTE.,Gregorio Marañón
35400,2024,MARZO,22:45:34,22:51:36,Convulsión y/o epilepsia,CENTRO,Gregorio Marañón
35402,2024,MARZO,22:54:50,23:01:35,Otros,ARGANZUELA,Gregorio Marañón
35410,2024,MARZO,23:58:27,0:03:56,Certificación psiquiátrico,CIUDAD LINEAL,Gregorio Marañón

In [7]:
#Sacamos la información general del dataset


# Obtener el número de filas y columnas
rows, columns = df_filtrado.shape
print(f"Número de filas: {rows}")
print(f"Número de columnas: {columns}")

# Obtener información general del dataset
info = df_filtrado.info()

# Obtener tipos de datos de cada columna
data_types = df_filtrado.dtypes
print(data_types)

Número de filas: 6767
Número de columnas: 7
<class 'pandas.core.frame.DataFrame'>
Index: 6767 entries, 0 to 35410
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Año                6767 non-null   int64
 1   Mes                6767 non-null   object
 2   Hora Solicitud     6767 non-null   object
 3   Hora Intervención  6767 non-null   object
 4   Código             6762 non-null   object
 5   Distrito           6744 non-null   object
 6   Hospital           6767 non-null   object
dtypes: int64(1), object(6)
memory usage: 422.9+ KB
Año                   int64
Mes                  object
Hora Solicitud       object
Hora Intervención    object
Código               object
Distrito             object
Hospital             object
dtype: object

A continuación se hace una limpieza y un preprocesamiento de datos

In [16]:
#Nos aseguramos de que el tipo de datos sea adecuado en cada caso

def convertir_tipos_de_datos(df_filtrado):
    # Convertimos la colimna Año a entero
    df_filtrado['Año'] = df_filtrado['Año'].astype(int)

    # Convertimos la columna Mes a categoría
    df_filtrado['Mes'] = df_filtrado['Mes'].astype('category')

    # Convertimos las columnas Hora Solicitud y Hora Intervención a tipo datetime
    df_filtrado['Hora Solicitud'] = pd.to_datetime(df_filtrado['Hora Solicitud'], format='%H:%M:%S', errors='coerce')
    df_filtrado['Hora Intervención'] = pd.to_datetime(df_filtrado['Hora Intervención'], format='%H:%M:%S', errors='coerce')

    # Convertimos las columnas Código, Distrito y Hospital a cadenas
    df_filtrado['Código'] = df_filtrado['Código'].astype(str)
    df_filtrado['Distrito'] = df_filtrado['Distrito'].astype(str)
    df_filtrado['Hospital'] = df_filtrado['Hospital'].astype(str)

    return df_filtrado

# Verificamos como queda el dataset después de la conversión
print(df_filtrado.dtypes)
df_filtrado

Año                   int64
Mes                  object
Hora Solicitud       object
Hora Intervención    object
Código               object
Distrito             object
Hospital             object
dtype: object

,Año,Mes,Hora Solicitud,Hora Intervención,Código,Distrito,Hospital
0,2024,ENERO,0:03:49,0:06:39,Heridas,CHAMBERI,La Paz
15,2024,ENERO,0:49:33,0:56:20,Quemado,VALLECAS PTE.,Gregorio Marañón
24,2024,ENERO,1:22:56,1:36:19,Orden medica,CIUDAD LINEAL,Ramón y Cajal
25,2024,ENERO,1:23:18,1:23:18,"Casual: caída, etc",TETUAN,La Paz
28,2024,ENERO,1:32:56,1:38:10,"Casual: caída, etc",SALAMANCA,Gregorio Marañón
...,...,...,...,...,...,...,...
35394,2024,MARZO,22:14:11,22:19:44,Heridas,RETIRO,Gregorio Marañón
35399,2024,MARZO,22:41:12,22:48:14,Accidente de bicicleta,VALLECAS PTE.,Gregorio Marañón
35400,2024,MARZO,22:45:34,22:51:36,Convulsión y/o epilepsia,CENTRO,Gregorio Marañón
35402,2024,MARZO,22:54:50,23:01:35,Otros,ARGANZUELA,Gregorio Marañón
35410,2024,MARZO,23:58:27,0:03:56,Certificación psiquiátrico,CIUDAD LINEAL,Gregorio Marañón

In [15]:
# Identificamos los valores faltantes NaN usando la moda/media para reemplazarlos y aquellos datos por encima o por debajo de dos desviaciones típicas de la media los imputamos por la moda/media.

def imputar_nan_y_outliers(df_filtrado):
    # Imputamos NaN con la moda o la media
    for col in df_filtrado.columns:
        if df_filtrado[col].dtype in [np.int64, np.float64]:
            if df_filtrado[col].isnull().any():
                moda = df_filtrado[col].mode()[0]
                media = df_filtrado[col].mean()
                df_filtrado[col].fillna(moda if pd.notnull(moda) else media, inplace=True)

    # Imputamos valores fuera de ±2 desviaciones estándar de la media
    for col in ['Hora Solicitud', 'Hora Intervención']:
        std = df_filtrado[col].std()
        mean = df_filtrado[col].mean()
        lower_bound = mean - 2 * std
        upper_bound = mean + 2 * std

        df_filtrado.loc[df_filtrado[col] < lower_bound, col] = mean
        df_filtrado.loc[df_filtrado[col] > upper_bound, col] = mean

    return df_filtrado

# Verificamo como queda el dataset después de la imputación
df_filtrado

,Año,Mes,Hora Solicitud,Hora Intervención,Código,Distrito,Hospital
0,2024,ENERO,0:03:49,0:06:39,Heridas,CHAMBERI,La Paz
15,2024,ENERO,0:49:33,0:56:20,Quemado,VALLECAS PTE.,Gregorio Marañón
24,2024,ENERO,1:22:56,1:36:19,Orden medica,CIUDAD LINEAL,Ramón y Cajal
25,2024,ENERO,1:23:18,1:23:18,"Casual: caída, etc",TETUAN,La Paz
28,2024,ENERO,1:32:56,1:38:10,"Casual: caída, etc",SALAMANCA,Gregorio Marañón
...,...,...,...,...,...,...,...
35394,2024,MARZO,22:14:11,22:19:44,Heridas,RETIRO,Gregorio Marañón
35399,2024,MARZO,22:41:12,22:48:14,Accidente de bicicleta,VALLECAS PTE.,Gregorio Marañón
35400,2024,MARZO,22:45:34,22:51:36,Convulsión y/o epilepsia,CENTRO,Gregorio Marañón
35402,2024,MARZO,22:54:50,23:01:35,Otros,ARGANZUELA,Gregorio Marañón
35410,2024,MARZO,23:58:27,0:03:56,Certificación psiquiátrico,CIUDAD LINEAL,Gregorio Marañón